body {
    background: rgb(35, 35, 35);
}

.reset-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(28, 28, 28);
    padding: 40px;
    border-radius: 5px;
    width: 20%;
}

h3 {
    margin: 25px 0;
    color: whitesmoke;
    text-align: center;
}

label {
    color: whitesmoke;
}

.inp {
    border: none;
    outline: none;
    background-color: white;
    margin: 5px 0;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    font-size: 18px;
}

button {
    margin: 10px 0;
    width: 30%;
    padding: 10px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(49, 103, 252);
    background-color: rgb(49, 103, 252);
    cursor: pointer;
}

button:hover {
    background-color: rgb(16, 78, 248);
    transition: 0.1s all ease-in;
}

a {
    color: rgb(139, 139, 139);
}

a:hover {
    color: rgb(255, 255, 255);
    transition: 0.1s all ease-in;
}

#message {
    margin: 5px;
}

#success {
    color: greenyellow;
}

#failure {
    color: rgb(250, 56, 56);
}